<!-- UI for the File Metadata Microservice -->
<div class="element-container">
<h1>API Project: File Metadata Microservice</h1>
<hr>
<p>
    Please Upload a File ...
</p>
<div class="view">
    <h4 id="output"></h4>
    <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
    <input id="inputfield" type="file" name="upfile">
    <input id="button" type="submit" value="Upload">
    </form>
</div>
</div>