<ul class="app-links">
    <% pages.forEach((page) => { %>
        <li><a href=<%=page.link%>><%=page.title%></a></li>
    <% }) %>
    <!-- <li><a>Timestamp Microservice</a></li>
    <li><a>Request Header Parser</a></li>
    <li><a>URL Shortener</a></li>
    <li><a>File Metadata Microservice</a></li>
    <li><a>Exercise Tracker</a></li> -->
</ul>